.cta-section {
    background-color: #343a40;
  }
  
  .cta-section h2 {
    margin-bottom: 20px;
  }
  
  .cta-section p {
    margin-bottom: 20px;
  }
  
  .cta-section .btn {
    color: #343a40;
  }
  